<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
  <%= render 'shared/navbar' %>
</div>

<div class="index-lists-page-wrapper">

  <%= render 'shared/sidebar-list', lists: @lists %>
</div>

