.home-page-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dark-blue;
  position: absolute;
  color: white;

  img {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 160px;
    z-index: 500;
  }

  .home-page {
    max-width: 660px;
    margin: 14rem auto;
  }

  .session-button {
    margin-top: 2rem;
    display: flex;
  }

  .full-button {
    margin-right: 1rem;
  }

  @media(max-width: 1200px) {
    .home-page {
      width: 90%;
    }

  }

}
