.linkedin-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dark-blue;
  position: absolute;
  color: white;


  .linkedin {
    max-width: 660px;
    margin: 10rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .online-fields {
    input {
      width: 480px;
      height: 32px;
    }

    button {
      height: 32px;
    }
  }

  @media(max-width: 800px) {
    .linkedin {
      width: 90%;
    }
    .online-fields {
      button {
        margin-left: 0.2rem;
      }
    }
  }

}
