.school-wrapper {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem 1rem 2rem;

  .school-flex {
    display: flex;
    margin-bottom: 1rem;
  }

  img {
    height: 120px;
    widows: 120px;
  }

  .school-info {
    margin-left: 1.5rem;
  }

  .exclamation-point {
    display: flex;
    align-items: center;
  }

  h1 {
    margin: 0;
    font-size: 26px;
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 0;
  }

  i {
    margin-right: 0.5rem;
  }

  p {
    margin: 0;
  }
}

.current-school-wrapper, .former-school-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
