.sign-in-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dark-blue;
  position: absolute;
  color: white;


  .sign-in-form{
    max-width: 360px;
    margin: 16rem auto 0 auto;
    position: relative;
  }

  a {
    color: white;
  }

  @media(max-width: 500px) {
    .sign-in-form{
      width: 90%;
    }
  }

}
