.sign-up-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dark-blue;
  position: absolute;
  color: white;


  .online-fields {

    .form-field:last-child {
      margin-left: 0.5rem;
    }
  }


  @media(max-width: 800px) {


    .back-button {
      display: none;
    }
  }
}
