.sign-in-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dark-blue;
  position: absolute;
  color: white;

  img {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 160px;
    z-index: 500;
  }

  .sign-in-form{
    max-width: 360px;
    margin: 10rem auto;
    position: relative;
  }


  .full-button {
    margin: 1.5rem 0 1.5rem 0;
  }

  a {
    color: white;
  }


}
