.sign-up-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dark-blue;
  position: absolute;
  color: white;

  img {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 160px;
    z-index: 500;
  }

  .sign-up-form-wrapper {
    max-width: 560px;
    margin: 10rem auto;
    position: relative;
  }

  .online-fields {

    .form-field:last-child {
      margin-left: 0.5rem;
    }
  }


  .back-button {
    position: absolute;
    bottom: 8px;
    left: -112px;

    p {
      font-size: 14px;
    }

    i {
      font-size: 12px;
    }
  }
}
