.new-tag-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dark-blue;
  position: absolute;
  color: white;


  img {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 160px;
  }

  .tag-wrapper {
    max-width: 660px;
    margin: 12rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .tags {
    margin: 2rem 0 3rem 0;
  }

  .tags-index {
    display: flex;
    margin-bottom: 1rem;
  }


  .empty-button {
    color: white;
    border-color: white;
    margin-right: 1rem;
    height: 36px;
  }

  .back-button {
    position: absolute;
    bottom: -6px;
    left: -112px;

    p {
      font-size: 14px;
    }

    i {
      font-size: 12px;
    }
  }

}
