.new-tag-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dark-blue;
  position: absolute;
  color: white;

  .tag-wrapper {
    max-width: 560px;
    margin: 10rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .tags {
    margin: 1rem 0;
  }

  .empty-button {
    color: white;
    border-color: white;
    margin-right: 1rem;
    height: 36px;
  }

  @media(max-width: 800px) {
    .tag-wrapper {
      width: 90%;
    }

    .back-button {
      display: none;
    }
  }

}
