.updating-profil-exp-wrapper {
  margin: 8rem auto 2rem auto;
  max-width: 600px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  padding: 1rem 3rem;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .button-wrapper {
    width: fit-content;
    background-color: $light-gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    button {
      height: 100%;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
      padding: 0.2rem 0.6rem;
    }

    .active {
      background: $gray;
    }
  }

  .automatic-wrapper, .manual-wrapper {
    display: none;
  }




  @media(max-width: 800px) {
    width: 90%;

    .button-wrapper {
      font-size: 10px;
    }

    .notification {
      p {font-size: 10px;}
    }

  }
}
