.index-users-page-wrapper {
  margin: 8rem 8rem 2rem 8rem;

  .index-users-form-wrapper {
    margin-bottom: 1.5rem;
    display: flex;

    h2 {
      margin: 0;
    }
  }

  .students-count {
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }

    i {
      margin-right: 0.5rem;
    }
  }

  .index-users-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}
