.user-sectors-index-wrap {
  max-width: 600px;
  margin: 12rem auto;
  border-radius: 8px;
  padding: 1rem 2rem;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;

  .user_sector-form {
    text-align: initial;
    margin-bottom: 1rem;
  }

  h3 {
    color: $dark-blue;
    text-align: center;
  }

  .user-sector-card {
    border-color: $gray;
    margin-bottom: 0.5rem;
  }

    .empty-button {
    border-color: $dark-blue !important;
    color: $dark-blue !important;
  }
}
