.user-show-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  a { color: $gray; }

  h3 {
    color: $dark-blue;
  }

  .left-side {
    h3 { text-align: left; }
  }

  .right-side {
    position: relative;
    h3 { text-align: center; }
  }

  .wrapper {
    padding: 0.5rem 1rem 0.5rem 3rem;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 2rem;
  }

  .diploma-tag-big {
    margin-bottom: 0.5rem;
  }

  .user-description-wrap {

    .user-description {
      display: flex;
      align-items: center;
    }

    h1 {
      margin-bottom: 0;
    }

    .light-weigth {
      font-weight: 400;
    }

    .line {
      height: 1px;
      width: 100%;
      background-color: $light-gray;
      display: block;
      margin: 0.5rem 0;
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 2rem;
    }
  }

  .situation {

    .notification {
      display: flex;
      align-items: center;
      font-size: 22px;
      font-weight: bold;

      i {
        margin-right: 0.5rem;
      }

      p {
        margin: 0;
      }
    }
  }

  @media(max-width: 960px) {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  @media(max-width: 500px) {
    .user-description {
      flex-direction: column;
      text-align: center;

      img {
        margin: 0;
      }
    }

    .situation {

      .notification {
        font-size: 14px;
      }
    }

    .wrapper {
      padding: 2.5rem 0.5rem 0.5rem 12px;
    }
  }
}
