.welcome-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dark-blue;
  position: absolute;
  color: white;


  .welcome {
    max-width: 660px;
    margin: 10rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .description {
    margin-bottom: 2rem;
  }

  .empty-button {
    color: white;
    border-color: white;
  }

  .back-button {
    position: absolute;
    bottom: -6px;
    left: -112px;

    p {
      font-size: 14px;
    }

    i {
      font-size: 12px;
    }
  }
}
