<div class="index-users-page-wrapper">

  <div class="index-users-wrapper">
    <% @students.each do |student| %>
      <%= render partial: "shared/student_card", locals: {student: student}  %>
    <% end %>
  </div>
</div>

