<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
  <%= render 'shared/navbar' %>
</div>


<div class="updating-profil-exp-wrapper">
  <div class="button-wrapper">
    <button id="automatic"class='<%= is_parsing? ? 'active' : nil %>'>Mise à jour automatique</button>
    <button id="manual"class="<%= is_parsing? ? nil : 'active' %>">Mise à jour manuelle</button>
  </div>

  <div class="automatic-wrapper">
    <div class="notification">
      <p>Grâce à votre profil LinkedIn nous pouvons récupérer vos expériences professinnelles et vos formations. Votree profil Chartreux Alumni se remplira automatiquement en fonction de ce que vous avez renseigné sur LinkedIn. Si vous aviez choisi la mise à jour manuelle auparavant et que vous choisissez la mise à jour automatique, les données que vous aviez saisies seront remplacées par celles de LinkedIn. </br> Si vous avez mis à jour votre profil LinkedIn et que vous souhaitez importer les modifications ici, cliquez sur le bouton ‘Mettre à jour mon profil’.</p>
    </div>
  </div>

  <div class="manual-wrapper">
        <div class="notification">
      <p>Si vous ne souhaitez pas renseigner votre profil LinkedIn, vous pouvez ajouter vos formations et expériences professionnelles manuellement. Si vous aviez choisi l’option de mise à jour automatique auparavant, vous concerverez les données importées.</p>
    </div>
  </div>

</div>
