<div class="company-card">
  <div class="company-card-logo">
    <img src="https://picsum.photos/90/90" alt="">
  </div>
  <div class="company-card-info">
    <h2><%= company.name %></h2>
    <h3><%= company.city %></h3>
    <p><%= pluralize company.users.count, 'alumni travaille ici', 'alumni travaillent ici' %></p>
  </div>
</div>
