
<div class="diploma-tag" id="diploma-<%= tag.diploma.try(:color) %>">

  <%= link_to tag_path(tag), method: :delete, class: 'remove' do %>
    <i class="fas fa-times"></i>
  <% end %>

  <span class="line"></span>

  <h5><%=tag.diploma.try(:name) %></h5>
  <p><%= tag.year %></p>
</div>
