<div class="ghost-card">
  <h4><%= index + 1 %></h4>
  <h3><%= ghost.full_name %></h3>
  <% if !ghost.email.blank? && !ghost.notification_send %>
    <%= button_to "Envoyer une invitation", users_path, class: 'full-button' %>
  <% end %>
</div>
