<div class="help-wrap">

  <div id="help-message" class="shadow-div">
    <div class="top p-4">
      <%= image_tag "blank-avatar.png" %>
      Adrien Barbier
    </div>
    <div class="content-wrapper p-4">
      <div class="message">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <a href="https://www.leschartreux.com">site des charteux</a>
      </div>
      <span class="line my-2"></span>
      <div class="help">
        <p>Besoin d'aide ?</p>
        <%= link_to 'Envoyez nous un mail', "mailto:m.reinert@leschartreux.net" %>
      </div>
    </div>
  </div>

  <div class="help-bubble">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-box">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="cross">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>

</div>
