<div class="help-wrap">

  <div id="help-message">
    <p>Besoin d'aide ? </br> Envoyez-nous un email !</p>
  </div>

  <%= link_to "mailto:m.reinert@leschartreux.net", id: 'help-bubble' do  %>
    <div class="help-bubble">
      <%= image_tag "help.png" %>
    </div>
  <% end %>

</div>
