<% @message = PopupMessage.last %>

<div class="help-wrap">

  <div id="help-message" class="shadow-div">

    <div class="top p-4">
      Institut des Chartreux
    </div>

    <% admins_only do %>
      <div class="my-2" id="new-message">
        <%= link_to 'Créer un message', new_popup_message_path, class: 'full-button mx-auto my-4', remote: true %>
      </div>
    <% end %>

    <div class="content-wrapper px-2" id="popup-content">

      <div id="message-wrapper">
        <% if @message %>
            <%= render @message %>
        <% end %>
      </div>
    </div>

    <div class="help p-4">
      <p>Besoin d'aide ?</p>
      <%= link_to 'Envoyez nous un mail', "mailto:m.reinert@leschartreux.net" %>
    </div>
  </div>

  <div class="help-bubble">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-box">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="cross">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>

</div>
