<div id="new-message-form">
  <%= form_for PopupMessage.new do |f| %>
   <div class="field-wrap">
    <%= f.text_field :message, placeholder: 'Votre message..' %>
   </div>
    <%= f.submit 'Ajouter', class: 'full-button' %>
  <% end %>
</div>
