<div class="link">
  <% unless @student.linkedin_url.nil? || @student.linkedin_url === '' %>
    <a href="<%= @student.linkedin_url%>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  <% end %>
  <% unless @student.email.nil?  || @student.email === '' %>
    <a href="mailto:<%= @student.email%>"><i class="far fa-envelope"></i></a>
  <% end %>
  <% unless @student.phone_number.nil? || @student.phone_number === '' %>
    <a href="tel:<%= @student.phone_number%>"><i class="fas fa-phone"></i></a>
  <% end %>
  <% unless @student.whatsapp_number.nil? || @student.whatsapp_number === '' %>
    <a href="https://wa.me/+33<%= @student.whatsapp_number%>" target="_blank"><i class="fab fa-whatsapp"></i></a>
  <% end %>
</div>
