<div class="user_sector-form my-4">
  <%= form_for user_sector do |f| %>
    <div class="online-fields">
      <%= f.select :sector_id, @sectors.map { |s| [s.name, s.id] }, { :prompt => "Sélectionner un secteur...", :class => 'form-field' } %>
      <%= f.submit "Ajouter", id:'add_sector_button', class: 'full-button'%>
    </div>
  <% end %>
</div>
