<div class="user-sector-card">

  <% if current_page?(user_sectors_path) || current_page?(sector_creation_user_sectors_path) %>
    <%= link_to user_sector_path(user_sector), method: :delete, class: 'remove-card' do %>
      <i class="fas fa-trash"></i>
    <% end %>
    <span class="line"></span>
  <% end %>
  <%= user_sector.sector.name %>
</div>
