<div class="user-sector-card">

  <% if current_page?(user_sectors_path) || current_page?(sector_creation_user_sectors_path) %>
    <%= link_to user_sector_path(user_sector), method: :delete, class: 'remove-card' do %>
      <i class="fas fa-trash"></i>
    <% end %>
    <span class="line"></span>
  <% end %>
  <%= user_sector.sector.name %>
  <% if current_page?(user_path(user_sector.user)) %>
    <%= link_to '', { controller: "users", action: "index", sector: user_sector.sector.id }, { class: 'cover-link' } %>
  <% end %>
</div>
