    <div class="navbar-wrapper">
      <%= render 'shared/alert' %>
    </div>

<div class="welcome-wrapper">

  <%= image_tag('logo-chartreux.png', class: 'logo-chartreux') %>

  <div class="welcome">
    <div class="description">
      <h1>Et voilà !</h1>
      <p>Votre profil est complet. Vous faites désormais partie du réseau Chartreux Alumni.</p>
      <p>En accédant à votre profil, vous pourrez modifier les informations renseignées et ajouter plus de détails.</p>
    </div>

    <%= link_to 'Accéder au réseau alumni', user_path(current_user), class: 'empty-button'  %>

    <%= link_to :back, class: 'back-button' do %>
      <i class="fas fa-arrow-left"></i>
      <p>Précédent</p>
    <% end %>
  </div>
</div>
