<div class="navbar-wrapper">
  <%= render 'shared/alert' %>
</div>
<div class="tags-index-wrap">

  <h3>Modifiez vos diplômes</h3>
  <div class="tags-index list-inline my-6">
    <% if @tags.any? %>
    <ul>
      <% @tags.each do |tag| %>
        <li>
          <%= render 'shared/diploma-tag-big', tag: tag %>
        </li>
      <% end %>
    </ul>
    <% end %>
    <%= render 'shared/tag-form', tag: @tag, diplomas: @diplomas %>
  </div>

  <%= link_to 'Valider les modifications', user_path(current_user), class: 'full-button'  %>

</div>
