<div class="tags-index-wrap">

    <%= link_to user_path(current_user), class: 'back-button' do %>
      <i class="fas fa-arrow-left"></i>
      <p>Valider</p>
    <% end %>

  <h3>Modifiez vos diplômes</h3>
  <div class="tags-index">
    <% if @tags.any? %>
    <ul>
      <% @tags.each do |tag| %>
        <li>
          <%= render 'shared/diploma-tag-big', tag: tag %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <%= render 'shared/tag-form', tag: @tag, diplomas: @diplomas %>

</div>
