<div class="new-tag-wrapper">


  <div class="tag-wrapper">
    <div class="description">
      <h1>Mes formations aux Chartreux</h1>
      <p>Ajoutez les formations que vous avez effecutées aux Chartreux ainsi que l'année à laquelle vous avez / aurez fini. <br>Cela permet d’apparaitre dans les critères de recherche et garder contact avec les personnes de votre promo.</p>
      <p>Vous pourez les modifier à tout moment dans votre profil.</p>
    </div>

    <div class="tags">
      <div class="tags-index">
        <% if @tags.any? %>
          <% @tags.each do |tag| %>
            <%= render 'shared/diploma-tag', tag: tag, student: @student %>
          <% end %>
        <% end %>
      </div>
    <%= render 'shared/tag-form', tag: @tag, diplomas: @diplomas %>
    </div>

    <%= link_to 'Suivant', sector_creation_user_sectors_path, class: 'empty-button'  %>

    <%= link_to :back, class: 'back-button' do %>
      <i class="fas fa-arrow-left"></i>
      <p>Précédent</p>
    <% end %>
  </div>


</div>
