.alert {
  margin: 1rem auto;
  padding: 0.5rem 3rem;
  text-align: center;
  font-weight: bold;
  color: white;
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
  top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;

    button {
    border: none;
    background: no-repeat;
    color: white;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    }
}


.alert-notice {
  background-color: #44AF69;
}
.alert-alert {
  background-color: #D1495B;
}
