.alert {
  width: fit-content;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 60px;
}


.alert-notice {
  background-color: rgba(147, 192, 164, 0.6)
}
.alert-alert {
  background-color: rgba(209, 96, 61, 0.6)
}
