.full-button {
  font-size: 14px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  background-color: $dark-blue;
  border: 1px solid rgba(0,0,0,0);
  text-align: center;
  width: fit-content;
  box-sizing: border-box;
}

.empty-button {
  font-size: 14px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: $dark-blue;
  background-color: rgba(0,0,0,0);
  border: 1px solid $dark-blue;
  text-align: center;
  width: fit-content;
  box-sizing: border-box;
}

.back-button {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  width: fit-content;

  i {
    margin-right: 0.5rem;
  }

}
