.company-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 0.5rem 1rem;

  .company-card-logo {
    border-radius: 8px;
    max-width: 90px;
    height: 90px;
  }

  img {
    width: 90px;
    height: 90px;
  }

  .company-card-info {
    margin-left: 1rem;
    color: $gray;

    h2 {
      margin: 0px;
      font-size: 18px;
      font-weight: 600;
    }

    h3 {
      margin: 0px;
      font-weight: 500;
      font-size: 14px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }
  }

}
