#error_explanation {
  background-color: #D1495B;
  border-radius: 8px;
  padding: 1rem;
  color: white;
  text-align: initial;
  margin: 1rem auto;

  h2 {
    color: white;
    text-align: initial;
  }

  ul {
    list-style: disc;
    margin: 0;
    padding: revert;
  }
}

