.search-form-wrapper {
  display: flex;
  align-items: baseline;
}

.search-info {
  margin-right: 2rem;
  white-space: nowrap;

  h2 {
    color: $light-gray;
    text-align: inherit;
  }
}

.search-count {
  display: flex;
  align-items: center;
  p { margin: 0; }
  i { margin-right: 0.5rem; }
}

.online-fields {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0;


  .form-field, select {
    margin: 0 1rem 0 0;
    width: 100%;
  }

  .form-field:last-child, select:last-child {
    margin: 0;
  }

}

.form {

}

.field-wrap {
  text-align: initial;
  width: 100%;
  position: relative;

  .form-field {
    margin-top: 0;
  }

  label {
    font-size: 16px;
    color: $gray;
  }
}

.form-field, select {
  height: 32px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 0.2rem;
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 0.5rem 0;
  color: black;
  font-size: 14px;
}

.checkbox-online {
  width: 100%;
}


.disabled {
  border-color: $light-gray;
  background-color: $light-gray;
  color: $light-gray;
}


  @media(max-width: 900px) {
    .search-form-wrapper {
      flex-direction: column;
    }

    .online-fields {
      margin-bottom: 0.5rem;
      flex-direction: column;

      .form-field, select {
        margin: 0 0 0.5rem 0;
      }

    }
  }

  @media(max-width: 500px) {

    .search-form {
      align-items: center;
    }

    .input {
      width: 100%;
    }
  }


