.form-wrapper {
  max-width: 380px;
  margin: 8rem auto;
  border-radius: 8px;
  padding: 1rem 2rem;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
}

  h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    color: $dark-blue;
    font-size: 20px;
    text-align: center;
  }

  form {
    display: contents;
  }


.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin: 0 auto;
  max-width: 80%;
}


.online-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .form-field {
    width: -webkit-fill-available;
  }

  .form-field:last-child {
    margin-left: 1rem;
  }
}

.checkbox-online {
  display: flex;
  white-space: nowrap;
}

.form-field {
  width: -webkit-fill-available;
  padding-left: 1rem;
  margin: 0.5rem 0;
  border: 1px solid black;
  border-radius: 5px;
  height: 28px;
  font-size: 12px;
  display: block;
  box-sizing: border-box;

}

  .linkedin-url {
    margin: 1.5rem 0;
    width: -webkit-fill-available;

    .linkedin-warning {
      width: -webkit-fill-available;
      text-align: center;
      border: 2px solid red;
      border-radius: 5px;
      padding: 0 0.5rem;

      p {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

.valid-button {
  margin-top: 1.5rem;
}

