.search-form-wrapper {
  display: flex;
  align-items: baseline;
}

.search-info {
  margin-right: 2rem;
  white-space: nowrap;

  h2 {
    color: $light-gray;
    text-align: inherit;
  }
}

.search-count {
  display: flex;
  align-items: center;
  p { margin: 0; }
  i { margin-right: 0.5rem; }
}

.online-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0;

  .form-field {
    width: 100%;
    margin: 0;
  }

  .form-field, select {
    margin-right: 1rem;
  }

  .form-field:last-child, select:last-child {
    margin-right: 0;
  }

}

.form {

}

.field-wrap {
  text-align: initial;

  label {
    font-size: 16px;
    color: $gray;
  }
}

.form-field, select {
  height: 32px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 0.2rem;
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 0.5rem 0;
  color: black;
  font-size: 14px;
}


.disabled {
  border-color: $light-gray;
}


  // @media(max-width: 900px) {
  //   display: block;

  //   h2 {
  //     margin-bottom: 0.2rem;
  //   }

  //   .input {
  //     width: 80%;
  //     margin: 0.4rem 0;
  //     display: block;
  //   }

  //   .form-inline {
  //     display: block;
  //     margin: 0;
  //     width: 100%;
  //   }

  //   .form-inline > :first-child {
  //     margin: 0;
  //   }

  //   .search-info {
  //     margin-bottom: 1rem;
  //   }

  //   .full-button {
  //     margin-top: 1rem;
  //   }

  //   .search-form {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: flex-start;
  //   }
  // }

  // @media(max-width: 500px) {

  //   .search-form {
  //     align-items: center;
  //   }

  //   .input {
  //     width: 100%;
  //   }
  // }


