.navbar {
  padding: 0 2rem;
  display: flex;
  height: 66px;
  background-color: $dark-blue;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;




    .session-link {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-around;

      a {
        text-decoration: none;
        color: white;
        margin: 0 0.5rem;
      }


      img {
        width: 35px;
        border-radius: 50%;
        margin-left: 1rem;
      }
    }

  .navigation-link {
    display: flex;
    align-items: center;


    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      font-size: 20px;
    }

    i {
      margin-right: 0.5rem;
    }

    a:hover {
      opacity: 0.8;
    }

  }

}
