.school-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 0.5rem 1rem;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  .school-card-logo {
    border-radius: 8px;
    max-width: 90px;
    height: 90px;
  }

  img {
    width: 90px;
    height: 90px;
  }

  .school-card-info {
    margin-left: 1rem;
    width: 100%;
    color: $gray;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin: 0px;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      text-align: initial;
    }

    h3 {
      margin: 0px;
      font-weight: 400;
      font-size: 14px;
      text-align: left;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      text-align: left;
    }
  }

  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}
