.sidebar-list {
  background-color: #B6DEE7;
  border-radius: 0 8px 8px 0;
  position: fixed;
  left: 0;
  padding: 1rem;
  width: 220px;
  top: 0;
  z-index: 7000;
  text-align: center;
  padding-top: 6rem;
  height: 100vh;
  overflow-y: scroll;

  h2 {
    font-size: 20px;
  }

  ul {
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
  }

  a:hover {
    opacity: 0.8;
  }

  i {
    margin-right: 0.5rem;
  }

  .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    margin-bottom: 0.5rem;
    position: relative;

    p {
      margin: 0;
    }
  }

  .list:hover {
    font-weight: bold;
  }

  .active {
    font-weight: bold;
  }
}
