.work-experience-card {
  display: flex;
  max-width: 456px;
  margin: 0 auto 2rem auto;
  align-items: center;
  justify-content: start;

  .icon {
    background-color: #6A6A6A;
    width: 108px;
    height: 108px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    img {
      width: 80px;
      margin: 0;
    }

  }

    .description {

      h1 {
        font-size: 22px;
        margin: 0;
      }

      h2 {
        text-align: inherit;
        font-size: 18px;
        font-weight: normal;
        margin: 0;
      }

      p {
        font-size: 14px;
      }
    }


}
