/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

@import "config/colors";
@import "config/fonts";

@import "pages/index";
@import "components/index";


body {
  margin: 0;
  color: $gray;
  font-family: "Avenir Next", sans-serif;
  position: relative;

  a {
    text-decoration: none;
    color: $dark-blue;
  }

  h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .list-style {

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  #error_explanation {
    margin-bottom: 2rem;

    h2 {
      font-size: 16px;
      margin-bottom: 0;
    }

    ul {
      font-size: 14px;
    }
  }

  .cover-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #situation-green { color: $flash-green; }
  #situation-orange { color: $flash-orange; }
  #situation-red { color: $flash-red; }

  .main-wrapper {
    margin: 8rem 5rem 2rem 5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  input::-webkit-input-placeholder {
    color: $medium-gray !important;
  }

  .logo-chartreux {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 160px;
  }

  .shadow-div {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }


  @media(max-width: 1850px) {

    .main-wrapper {
      margin: 8rem 3rem 2rem 3rem;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem;
    }
  }

  @media(max-width: 1300px) {
    .main-wrapper {
      margin: 8rem 5rem 2rem 5rem;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
    }
  }

  @media(max-width: 960px) {


    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
  }

  @media(max-width: 600px) {
    .main-wrapper {
      margin: 8rem 2rem 2rem 2rem;
    }
  }

}
