/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

@import "config/colors";
@import "config/fonts";

@import "pages/index";
@import "components/index";


body {
  margin: 0;
  color: $gray;
  font-family: "Avenir Next", sans-serif;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  #error_explanation {
    margin-bottom: 2rem;

    h2 {
      font-size: 16px;
      margin-bottom: 0;
    }

    ul {
      font-size: 14px;
    }
  }

  .main-wrapper {
    margin: 8rem 5rem 2rem 5rem;
  }

  #situation-green { color: $flash-green; }
  #situation-orange { color: $flash-orange; }
  #situation-red { color: $flash-red; }
}
